{% extends "light.twig" %}

{% block title %}: {% trans "Feedback" %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block headernav %}{% endblock %}
{% block content %}
{% if request.lang == 'pt' %}
<div class="feedback-logo">
  <h1>{% trans "Feedback" %}</h1>
</div>
<div class="container feedback-box">
    <p>Se você ou sua instituição gostariam de contriur com o INPUT-LASeD, por favor escreva um email para <a href="gisane@unicentro.br">gisane@unicentro.br</a>.</p>
</div>
{% elseif request.lang == 'en' %}
<div class="feedback-logo">
  <h1>{% trans "Feedback" %}</h1>
</div>
<div class="container feedback-box">
    <p>If you or your institution would like to contribute to INPUT-LASeD, please write an email to us at <a href="gisane@unicentro.br">gisane@unicentro.br</a. </p>
</div>
{% endif %}
{% endblock %}
